{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true
	},
	"globals": {
		"document": true
	},
	"extends": "airbnb",
	"rules": {
		"no-tabs": 0,
		"no-console": 0,
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		]
	}
}
