/*------------------------------------*\
GLOBAL
/*------------------------------------*/

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	background: $white;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	//font-family: $baseFont;
}

* {
	&:before,
	&:after {
		box-sizing: inherit;
	}
}


main {
	display: block;
	height: 100%;
	width: 100%;
}
